{% extends 'base.html' %}

{% block navbar %}

<div class="leftnav">
  <h2><span ></span>个人信息</h2>
    <ul style="display:block">
    <li><a href="{{ url_for('my_profile') }}" >我的资料</a></li>
    <li><a href="/users/{{ current_user.user_num }}/courses">我的课程</a></li>
    <li><a href="{{ url_for('change_own_profile') }}" >修改资料</a></li>
    <li><a href="{{ url_for('change_my_passwd') }}">修改密码</a></li>
    </ul>
  <h2><span ></span>教学评价</h2>
  <ul style="display:block">
    <li><a href="{{ url_for('teacher_ass_list') }}" >考评结果</a></li>
  </ul>
</div>


{% endblock %}

{% block page_content %}
{% endblock %}