{% extends index_html %}

{% block page_content %}

<div class="container">
{% for msg in get_flashed_messages() %}
<div class="alert alert-info">
{{ msg }}
</div>
{% endfor %}

<div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
<div class="panel panel-success">
    <div class="panel-heading">基本信息</div>
    <div class="panel-body">
          <div class="col-md-4 column">
    <ul class="list-group">
        <li class="list-group-item">学号：{{ user.user_num }} </li>
        <li class="list-group-item">性别：
        {% if user.user_sex %}
        男
        {% else %}
        女
        {% endif %}
        </li>
    </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="list-group">
                <li class="list-group-item">姓名： {{ user.user_name }}</li>
                <li class="list-group-item">账号类型：{{ role_user[user.type] }}</li>
            </ul>
        </div>
        <div class="col-md-4 column">
          <ul class="list-group">
              <li class="list-group-item">专业： {{ user.teacher_major }}</li>
              <li class="list-group-item">是否辅导员：{{ user.is_instructor }}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  </div>

{% if current_user.user_num == user.user_num %}
<a class="btn btn-primary"  href="{{ url_for('change_own_profile') }}"> 修改资料</a>
{% elif current_user.type == 'sys_admin' %}
  <a class="btn btn-primary"  href="/changeprofile/{{ user.user_num }}"> 修改资料</a>
{% endif %}
</div>

</div>
{% endblock %}
