{% extends 'bootstrap/base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
{% endblock %}

{% block title %}登录{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/pintuer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
{% endblock %}


{% block content %}
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">
            </div>
            <div class="panel loginbox">
             <div class="text-center margin-big padding-big-top"><h1>注册</h1></div>
                {% for msg in get_flashed_messages() %}
                    <div class="alert alert-info">{{ msg }}</div>
                {% endfor %}
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                {{ wtf.quick_form(form) }}
                </div>
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pintuer.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
