{% extends 'index_stu.html' %}

{% block page_content %}

<div class="container">
    <div class="row clearfix">
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">所选课程</h3>
    </div>
            <table class="table table-bordered">
                <thead>
                    <tr class="success">
                        <th>课程名称</th>
                        <th>授课教师</th>
                        <th>成绩</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cc in course %}
                    <tr>
                        <td>{{ cc['course_id'] }}</td>
                        <td>{{ cc['teacher_id'] }}</td>
                        <td>{{ cc['course_grade'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
