{% extends 'index_stu.html' %}

{% block page_content %}

<div class="container">
  <div class="row clearfix">

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">历史评教信息</h3>
    </div>
      <table class="table table-bordered">
        <thead>
          <tr class="success">
            <th>ID</th>
            <th>答案序列</th>
            </tr>
        </thead>
    <tbody>
            <tr>
                <td>
                <a class="btn-sm btn-primary" href="/oldass/{{ r.history_id }}">{{ r.history_id }}</a></td>
                <td>
                  {{ r.answer_list|upper }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}l>