<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <script src="{{ url_for('static',filename='jquery-1.8.0.js') }}"></script>
    </head>


    <body>


        <div class="container">

            <div class="content"></div>
        </div>



        <script>


            $(document).ready(function(){
                setInterval("refreshPage()", 200);
            })
            function refreshPage()
            {
                $.get("/api/content", function(data, status){
                    $(".content").html(data)
                })
            }
        </script>
    </body>
</html>
